<section id="nosotros" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 display-4" i18n>Acerca de Nosotros</h2>
    <hr>
    <h2 class="text-center mb-5 display-7" i18n><b>"30 años de experiencia nos respaldan. Somos líderes en la zona norte del estado de Sinaloa."</b></h2>
    
    <div class="row g-4">
      
      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Misión</h3>
          <p class="text-justify" i18n>Ser el mejor grupo de seguridad privada del noroeste 
            de México satisfaciendo las necesidades de nuestros clientes mediante 
            servicios de seguridad integral, con personal, equipo y tecnología de 
            vanguardia respaldados por profesionales con ética, experiencia y alto 
            sentido de responsabilidad, disciplina y honestidad, brindando atención 
            con calidad y excelencia.</p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Visión</h3>
          <p class="text-justify" i18n>Ser una empresa integral en seguridad privada, 
            otorgando servicios de excelente calidad, contando con los mejores 
            elementos y equipo de trabajo, para que en conjunto con los objetivos 
            de los accionistas cumpla los objetivos de desarrollo familiar.</p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Valores</h3>
          <p class="text-justify" i18n>Compromiso con el cliente, calidad integral, trabajo 
            en equipo, disciplina, honradez y respeto.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Contamos con:</h3>
          <p i18n>
            - Supervisión 24 horas. <br>
            - Capacitación de personal constante. <br>
            - Medición de calidad. <br>
            - Unidades de traslado de personal.
        </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Unidades de traslado</h3>
          <img src="assets/img/UnidadesDeTraslado.jpeg" class="img-fluid rounded" alt="Unidades de traslado">
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-4 border rounded shadow-sm bg-white h-100">
          <h3 class="text-primary mb-3 text-center" i18n>Nuestras instalaciones</h3>
          <img src="assets/img/NuestrasInstalaciones.jpeg" class="img-fluid rounded" alt="Unidades de traslado">
        </div>
      </div>
      
    </div>
  </div>
</section>