<section id="servicios" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 display-4" i18n>Nuestros Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/GuardiasEjecutivos.jpeg" class="card-img-top" alt=" i18n Guardias ejecutivos">
          <div class="card-body">
            <h5 class="card-title" i18n>Guardias ejecutivos</h5>
            <!--<p class="card-text">Contamos con guardias de grupo élite áltamente capacitados.</p>-->
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Custodios2.jpeg" class="card-img-top" alt="Servicios de custodios">
          <div class="card-body">
            <h5 class="card-title" i18n>Servicios de custodios</h5>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/GuardiasPoliciacos.jpeg" class="card-img-top" alt="Guardia policiaco">
          <div class="card-body">
            <h5 class="card-title" i18n>Guardia policiaco</h5>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Ranchos2.jpeg" class="card-img-top" alt="En ranchos">
          <div class="card-body">
            <h5 class="card-title" i18n>En ranchos</h5>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Bodegas.jpeg" class="card-img-top" alt="En bodegas">
          <div class="card-body">
            <h5 class="card-title" i18n>En bodegas</h5>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Empresas.jpeg" class="card-img-top" alt="En empresas">
          <div class="card-body">
            <h5 class="card-title" i18n>En empresas</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Escuelas.jpeg" class="card-img-top" alt="En escuelas">
          <div class="card-body">
            <h5 class="card-title" i18n>En escuelas</h5>
          </div>
        </div>
      </div>

      <!--<div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Oficinas.jpeg" class="card-img-top" alt="En oficinas">
          <div class="card-body">
            <h5 class="card-title">En oficinas</h5>
          </div>
        </div>
      </div>-->

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/CasaHabitacion.jpeg" class="card-img-top" alt="En casa habitación">
          <div class="card-body">
            <h5 class="card-title" i18n>En casa habitación</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Hospitales.jpeg" class="card-img-top" alt="En hospitales">
          <div class="card-body">
            <h5 class="card-title" i18n>En hospitales</h5>
          </div>
        </div>
      </div>

      <!--<div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Inmuebles.jpeg" class="card-img-top" alt="En todo tipo de inmuebles">
          <div class="card-body">
            <h5 class="card-title">En todo tipo de inmuebles</h5>
          </div>
        </div>
      </div>-->
      
    </div>

  </div>
</section>