<section id="servicios" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-5 display-4">Nuestros Servicios</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/grupoElite.jpeg" class="card-img-top" alt="Grupo élite">
          <div class="card-body">
            <h5 class="card-title">Grupo élite</h5>
            <p class="card-text">Contamos con guardias de grupo élite áltamente capacitados.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Escuelas.jpg" class="card-img-top" alt="Guardias en escuelas">
          <div class="card-body">
            <h5 class="card-title">Guardias en escuelas</h5>
            <p class="card-text">Control de acceso en escuelas privadas y públicas.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Residencial2.jpg" class="card-img-top" alt="Control de acceso en residenciales">
          <div class="card-body">
            <h5 class="card-title">Control de acceso en residenciales</h5>
            <p class="card-text">Control de acceso en edificios residenciales.</p>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Almacenes.jpeg" class="card-img-top" alt="Guardias en bodegas">
          <div class="card-body">
            <h5 class="card-title">Guardias en bodegas</h5>
            <p class="card-text">Contamos con guardias de grupo élite áltamente capacitados.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/Flotilla.jpeg" class="card-img-top" alt="Flotilla">
          <div class="card-body">
            <h5 class="card-title">Flotilla</h5>
            <p class="card-text">Control de acceso en escuelas privadas y públicas.</p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/CentrosComerciales.jpeg" class="card-img-top" alt="Centros comerciales">
          <div class="card-body">
            <h5 class="card-title">Centros comerciales</h5>
            <p class="card-text">Control de acceso en edificios residenciales.</p>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</section>