<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top fw-bold">
  <div class="container">
    <a class="navbar-brand" href="#inicio">
      <img src="assets/img/logo.jpeg" alt="Logo SPLM" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio" i18n>Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios" i18n>Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros" i18n>Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto" i18n>Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" i18n>
            Idioma
          </a>
          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                <li>
                    <a class="dropdown-item" [href]="getLocalizedUrl('es-MX')">🇲🇽 Español</a>
                </li>
                <li>
                    <a class="dropdown-item" [href]="getLocalizedUrl('en-US')">🇺🇸 English</a>
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
    <app-home-section id="inicio"></app-home-section>
    <app-services-section id="servicios"></app-services-section>
    <app-about-us-section id="nosotros"></app-about-us-section>
    <app-contact-section id="contacto"></app-contact-section>
</main>

<footer class="bg-light text-purple text-center fw-bold py-3">
    <div class="container">
        <p class="mb-0" i18n>&copy; {{ anioActual }} SPLM. Todos los derechos reservados.</p>
    </div>
</footer>

<router-outlet />
