<header class="home-hero p-5 text-center text-white d-flex align-items-center justify-content-center" style="height: 100vh; background: url('assets/img/bannerHome.jpg') no-repeat center center; background-size: cover;">
  <div class="container" style="background-color: rgba(0, 0, 0, 0.5); padding: 2rem; border-radius: 0.5rem;">
    
    <img src="assets/img/EstrellaMH.jpg" alt="Estrella MH" style="height: 90px;" class="mb-3">
    <h1 class="display-1 fw-bold" i18n>Seguridad Privada Grupo SPLM</h1>
    <p class="lead mb-4" i18n>¡Estar siempre con el mejor es querer ser igual o mejor que él!</p>
    <a href="#contacto" class="btn btn-primary btn-lg" i18n>¡Cotiza sin compromiso!</a>
  </div>
</header>